.projectsBlock {
    background-color: #ffe0f0;
    padding: 50px 0;
}

.projectContainer {
    justify-content: center;
}

.title {
    background-color: #f2d0ff;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
